<div style="display: none"> <img src="/images/hover-bg.gif" /> <img src="/images/normal-bg.gif" /> </div> 
<div id="headerDiv">
    <div id="findFormDiv" class="findFormDiv">
    <fieldset id="findFieldset" class="bstFieldset" ><legend>Find Verse</legend>
      <!--<form id="bstForm" action="/verse/find" method="get"> -->
      <%= form_tag("/verse/find", id: "bstForm", method: "get", remote: true ) do |f| %>
  	<%= label_tag(:userVerse, "Verse") %>
  	<%= text_field_tag(:userVerse, "", size: 8) %>
  	<%= submit_tag("Find") %>
        <input name="reset" type="reset" value="Reset"></input>
      <% end %>

        <div id="booksDiv" class="customPicker">
          <table id="booksTable" cellspacing="2"><tbody><tr><td>MAT</td><td>MAR</td><td>LUK</td><td>JON</td><td>ACT</td><td>ROM</td><td>1CO</td><td>2CO</td><td>GAL</td><td>EPH</td><td>PHL</td><td>COL</td><td>1TH</td><td>2TH</td></tr><tr><td>1TM</td><td>2TM</td><td>TIT</td><td>PHI</td><td>HEB</td><td>JAM</td><td>1PE</td><td>2PE</td><td>1JN</td><td>2JN</td><td>3JN</td><td>JUD</td><td>REV</td></tr>
          </tbody>
          </table>
        </div>
    </fieldset>
  </div>
  <%=  render(:partial => "layouts/search_form") %>
  <div id="adDiv">
    <%=  render(:partial => "layouts/advanced_search_form") %>
  </div>
  <div class="clearer">&nbsp;</div>
</div>
<div id="notice">
  <% flash.each do |key, value| %>
    <%= render '/layouts/flash', key: key, value: value %>
  <% end %>
</div>
</br>
<div id="chapterDiv"></div>
<div id="verseDiv"></div>
<% @page_title = 
   "verse #{@verse.book} #{@verse.chapter}:#{@verse.verse}" %> 
<div>
  <div style="float:left;"><%= button_to "Clear Results", verse_clear_search_results_path(@verse), :remote => true, :id => "clearSearchResults" %></div>
  <div style="float:left;"><button id="hideShowSearchResults" onclick="javascript:hideShowSearchResults(); return false;">Hide Results</button></div>
  <div style="float:left; padding-left:4px;"><span id="searchResultsMessage"></span></div>
</div>
<div style="clear:both;"></div>
<div id="searchResultsDiv">
  <table id="searchResultsTable">
    <tbody>
    </tbody>
  </table>
<%#= controller.display_search_results.html_safe %>
</div>
<div id="translationDiv" style="margin-top: 6px;"><%= @verse.kjv_bible.translation %></div>
<table id="navigationTable">
  <tr align="center">
    <td><span title="Keyboard shortcut: Home key"><%= link_to( "Prev Book", verse_prev_book_path(@verse), :id => "prevBookCell", :remote => true)%></span></td>
    <td><span title="Keyboard shortcut: Page Up key"><%= link_to( "Prev Chapter", verse_prev_chapter_path(@verse), :id => "prevChapterCell", :remote => true)%></span></td>
    <td><span title="Keyboard shortcut: Up Arrow key"><%= link_to( "Prev Verse", verse_prev_verse_path(@verse), :id => "prevVerseCell", :remote => true)%></span></td>
    <td><span title="Keyboard shortcut: Down Arrow key"><%= link_to( "Next Verse", verse_next_verse_path(@verse), :id => "nextVerseCell", :remote => true)%></span></td>
    <td><span title="Keyboard shortcut: Page Down key"><%= link_to( "Next Chapter", verse_next_chapter_path(@verse), :id => "nextChapterCell", :remote => true)%></span></td>
    <td><span title="Keyboard shortcut: End key"><%= link_to( "Next Book", verse_next_book_path(@verse), :id => "nextBookCell", :remote => true)%></span></td>
  </tr>
</table>
<div id="grammarTableDiv">
<%= controller.display_table.html_safe %>
</div> 
