<head>
  <title>Bst</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="content">
    <div id="ctDiv"></div>
    <div id="header">
      <div class="help"><%= link_to "Help", 
                 :controller => "verse", 
                 :action     => "show_help" %>
      </div>
      <div id="title"><b>BIBLE STUDY TOOLS</b></div>
   </div>

<%= yield %>

  </div>
  <div id="footer">
    <hr/>
    <p>Copyright &copy; 1999-2017, "John White/Paul Corcoran"</p>
  </div>
</div>
</body>
</html>
